.navbar-light .navbar-nav .nav-item .nav-link {
  color: #35c144;
  font-size: 25px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #7ed088;
}

.navbar-light .navbar-toggler {
  background-color: #35c144;
  border: none;
  margin-left: 18px;
}
